.footer{
    background: var(--boxColor) !important;
}

.footerWrapper {
    max-width: 1200px;
    padding-top: 45px;
}

.footer {
    background: var(--primary-bgColor);
}

.footerSendBtn {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--primary-txtColor);
}

.smText {
    font-weight: 400 !important;
    font-size: 20px!important;
    color: var(--primary-txtColor);
}

.xmText {
    font-weight: 400;
    font-size: 14px;
    color: var(--headertxtCol);
    padding: 0 20px !important;
}

.linkBtns {
    color: rgb(132, 36, 222);
    font-size: 23px;
    display: flex;
    align-items: center;
}

.linkBtns span{
    margin-right: 25px !important;
}

@media (max-width: 752px) {
    .smText {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 625px) {
    .headerBtn {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .xmText {
        width: 100%;
        text-align: center;
    }
}